@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500&family=Poppins:wght@700&family=Staatliches&display=swap');

$primary-color: #272727;
$secondary-color: #ff652f;
$font-family-nav: 'Inter', sans-serif;
$font-family-heading: 'Poppins', sans-serif;
$font-weight-normal: 400;

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: #333;
}


@mixin media-lg {
  @media screen and (min-width:1025px) and (max-width: 1200px) {
    @content;
  }
}
@mixin media-md {
  @media screen and (min-width: 769px) and (max-width: 1024px) {
    @content;
  }
}
@mixin media-sm {
  @media screen and (max-width: 768px) {
    @content;
  }
}